@import url("theme.css");

/* Full width */
.wy-nav-content {
    max-width: none;
}

/* Admonition Style
   - def: same with "important"
*/
.rst-content .def {
    background: #dbfaf4;
}

.rst-content .def .admonition-title {
    background: #1abc9c;  /* default: #6ab0de; */
}

.rst-content .theorm {
    background: #ffedcc;
}

.rst-content .theorm .admonition-title {
    background: #f0b37e;
}

/* Equation numbers on the right*/
/* Math div margins */
div.math {
    position: relative;
    padding-right: 2.5em;
    margin: 1.5em auto 1.5em auto;  /* Math div margins */
}
.eqno {
    height: 100%;
    position: absolute;
    right: 0;
    padding-left: 5px;
    padding-bottom: 5px;
    /* Fix for mouse over in Firefox */
    padding-right: 1px;
}
.eqno:before {
    /* Force vertical alignment of number */
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}
.eqno .headerlink {
    display: none;
    visibility: hidden;
    font-size: 14px;
    padding-left: .3em;
}
.eqno:hover .headerlink {
    display: inline-block;
    visibility: hidden;
    margin-right: -1.05em;
}
.eqno .headerlink:after {
    visibility: visible;
    content: "\f0c1";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -.9em;
}

/* For MathJax Users */
/* .MathJax_Display {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
} */
